In [51]:
import requests
import lxml
from bs4 import BeautifulSoup
import pandas as pd
import plotly.express as px

In [52]:
# user agent through which requests are sent
header = {
    'User-agent': 'Mozilla/5.0 (Linux; Android 11; SAMSUNG SM-G973U) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/14.2 Chrome/87.0.4280.141 Mobile Safari/537.36'
}

In [53]:
page_no = []   # object to store URL criteria

n = 50   # insert number of pages

for x in range(0,n):  # page numbers 37
    categories = x   # multiply by number of items on page
    page_no.append(categories)

In [54]:
handm_dresses = []

for x in page_no:
    r = requests.get(f'https://www2.hm.com/en_gb/ladies/shop-by-product/dresses.html?page={x}', headers=header)  # loop through pages
    soup = BeautifulSoup(r.content, 'lxml')
    
    products = soup.find_all('article', class_='db650c')  # Select the main product divs

    for product in products:
        # Check for the name element
        name_element = product.find('h2', class_='fa226d ca21a4 f25ed4 b5233a')
        name = name_element.text.strip() if name_element else 'Name Not Available'
        
        # Check for the price element
        price_element = product.find('span', class_='aeecde ac3d9e')
        price = price_element.text.strip() if price_element else 'Price Not Available'
    
        # Collect product details
        product_details = {
            'name': name,
            'price': price
        }
    
        handm_dresses.append(product_details)

In [55]:
# write to dataframe
df = pd.DataFrame(handm_dresses)
print(df.head(15))  # print top 15

                                 name   price
0                      Rib-knit dress  £34.99
1            Bow-detail strappy dress  £34.99
2                 Sequined mini dress  £24.99
3                     Boat-neck dress  £15.99
4              Embellished mini dress  £39.99
5                 Tuxedo blazer dress  £64.99
6   Rhinestone-embellished mini dress  £69.99
7          Bow-front satin mini dress  £69.99
8           Tulle-skirt bandeau dress  £84.99
9                  Sequined net dress  £44.99
10                      Fringed dress  £44.99
11            Sleeveless blazer dress  £74.99
12          Ruffle-sleeve satin dress  £64.99
13                Satin bandeau dress  £64.99
14                   Bubble-hem dress  £49.99

In [56]:
df['price'] = df['price'].replace('£','',regex=True)
df['price'] = df['price'].replace('From','',regex=True)
df['price'] = df['price'].replace(',','',regex=True)
df['price'] = pd.to_numeric(df['price'])

# Remove duplicate rows
df = df.drop_duplicates()

# Optionally, reset the index after removing duplicates
df = df.reset_index(drop=True)

In [57]:
print(df)

                          name   price
0               Rib-knit dress   34.99
1     Bow-detail strappy dress   34.99
2          Sequined mini dress   24.99
3              Boat-neck dress   15.99
4       Embellished mini dress   39.99
...                        ...     ...
1045   Appliquéd bandeau dress   44.99
1046           Lace maxi dress  189.99
1047   Long denim corset dress  279.99
1048        Tulle evening gown  249.99
1049            Crinkled dress   18.99

[1050 rows x 2 columns]

In [58]:
df.to_excel('handm_dresses.xlsx', index=False)